@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-zinc-900 h-full overflow-x-hidden;
}

#__next {
	@apply h-full;
}

html {
	@apply h-full;
}

.hero-bg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.345)), url("/images/authHeader.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.shimmer {
	animation: shimmer 2s infinite linear;
	background: linear-gradient(to right, #2c2c2c 4%, #333 25%, #2c2c2c 36%);
	background-size: 1000px 100%;
}

@keyframes shimmer {
	0% {
		background-position: -1000px 0;
	}

	100% {
		background-position: 1000px 0;
	}
}

.swiper {
	overflow: visible !important;

	.swiper-button-prev,
	.swiper-button-next {
		color: white;
	}

	.swiper-button-prev {
		/* left: -2.75rem; */
		background-color: black;
		border-radius: 9999px;
		width: 2.4rem;
		height: 2.4rem;
		display: flex;
		align-items: center;
		justify-content: center;

		&::after {
			font-size: 1rem;
		}
	}

	.swiper-button-next {
		/* left: -2.75rem; */
		background-color: black;
		border-radius: 9999px;
		width: 2.4rem;
		height: 2.4rem;
		display: flex;
		align-items: center;
		justify-content: center;

		&::after {
			font-size: 1rem;
		}
	}
}